"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    projectHome: "~/Developer"
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  welcome:
    showOnStartup: false
