"*":
  "ansible-vault":
    vault_password_file_flag: true
    vault_password_file_path: "~/.ansible_vault_key"
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    projectHome: "~/Developer"
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
  "linter-rubocop":
    command: "/usr/local/bin/chruby-exec 2.3.4 -- rubocop"
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
